<!doctype html>
<meta charset="UTF-8">
<html>

<head>
	<title>새 탭</title>
	<link href="./font-awesome/css/all.min.css" rel="stylesheet">
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<script src="vue.js"></script>
	<script src="jquery-3.4.1.min.js"></script>
	<script src="moment-with-locales.js"></script>
	<script src="popper.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
	<div class="sign">
		<small>2019, Linus Lee <a href="https://dodonmountain.github.io/">https://dodonmountain.github.io/</a> </small>
	</div>
		<div id="app">
		<!-- TIMER -->
			<div id="content">
				<div class="timer container">
					<div class="row justify-content-center">
						<p class="date">{{ date }}</p>
					</div>
					<div class="row justify-content-center">
						<h1 class="time">{{ hours[0] }} {{ hours[1] }} </h1>
						<div class="ml-3">
							<h3 class="pt-3">{{ seconds[1] }}</h3>
							<h3 class="pb-3">{{ seconds[0] }}</h3>
						</div>
					</div>
				</div>
				<!-- Background Image Changer -->
				<div id="bgChanger">
					<div class="row">
						<i @click="changeBg(-1)" class="fas fa-caret-left fa-2x ml-4 my-2"></i>
						<i @click="changeBg(1)" class="fas fa-caret-right fa-2x ml-3 my-2"></i>
					</div>
				</div>
			</div>


				<!-- carousel container -->
				<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="false">	
					<ol class="carousel-indicators">
						<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#mainCarousel" data-slide-to="1"></li>
						<li data-target="#mainCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner py-2 text-center">
						<div class="carousel-item active justify-content-center">

							<form action="https://www.google.com/search" class="form-control border-0 offset-4 col-4 h-100 bg-transparent" method="get" name="searchform" target="_blank">
								<input name="sitesearch" type="hidden">
								<input autocomplete="on" class="input-group form-control search fa" name="q" placeholder="&#xf002; 구글에서 검색" required="required"  type="text">
							</form>

							<form action="https://stackoverflow.com/search" class="form-control border-0 offset-4 col-4 h-100 bg-transparent" method="get" name="soverflow" target="_blank">
								<input autocomplete="on" class="input-group form-control search fa" name="q" placeholder="&#xf002; 스택오버플로우에서 검색" required="required"  type="text">
							</form>

							<form action="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&" class="form-control border-0 offset-4 col-4 h-100 bg-transparent" method="get" name="soverflow" target="_blank">
								<input autocomplete="on" class="input-group form-control search fa" name="query" placeholder="&#xf002; 네이버에서 검색" required="required"  type="text">
							</form>
						
							<div class="container text-dark px-5">
								<div class="row justify-content-around bg-transparent py-3 px-5 text-center"> 
									<a style="color:salmon;" class="fab fa-codepen fa-4x text-decoration-none mx-1" href="https://codepen.io/"><p class="brandname text-white mt-2">코드펜</p></a>
									<a style="color: #2f2f2f;" class="fab fa-github fa-4x text-decoration-none mx-1" href="https://github.com/"><p class="brandname text-white mt-2">깃헙</p></a>
									<a style="color:orangered;" class="fab fa-reddit fa-4x text-decoration-none mx-1" href="https://www.reddit.com/"><p class="brandname text-white mt-2">레딧</p></a>
									<a style="color:purple;" class="fab fa-slack fa-4x text-decoration-none mx-1" href="https://slack.com/intl"><p class="brandname text-white mt-2">슬랙</p></a>
									<a style="color:royalblue;" class="fab fa-trello fa-4x text-decoration-none mx-1" href="https://trello.com/"><p class="brandname text-white mt-2">트렐로</p></a>
									<a style="color:rgb(38, 151, 38);" class="fas fa-table fa-4x text-decoration-none mx-1" href="https://www.google.com/docs/about/"><p class="brandname text-white mt-2">구글 독스</p></a>
									<a style="color:palegoldenrod;" class="fab fa-google-drive fa-4x text-decoration-none mx-1" href="https://www.google.com/drive/"><p class="brandname text-white mt-2"><small>구글드라이브</small></p></a>
									<a style="color:royalblue;" class="fab fa-dropbox fa-4x text-decoration-none mx-1" href="https://www.dropbox.com/"><p class="brandname text-white mt-2">드롭박스</p></a>
									<a style="color:lightseagreen;" class="fa fa-paint-brush fa-4x text-decoration-none mx-1" href="https://www.draw.io/"><p class="brandname text-white mt-2">Draw.io</p></a>
								</div>
								<div class="row justify-content-around bg-transparent py-3 px-5 text-center"> 
									<a style="color:royalblue;" class="fab fa-stripe-s fa-4x text-decoration-none mx-1" href="https://swexpertacademy.com/main/main.do"><p class="brandname text-white mt-2">SWEA</p></a>
									<a style="color: #12a8a1;" class="fas fa-ellipsis-h fa-4x text-decoration-none mx-1" href="https://www.acmicpc.net/"><p class="brandname text-white mt-2">백준</p></a>
									<a style="color:crimson;" class="fas fa-file-pdf fa-4x text-decoration-none mx-1" href="https://smallpdf.com/merge-pdf"><p class="brandname text-white mt-2">PDF합치기</p></a>
									<a style="color:aquamarine" class="fas fa-infinity fa-4x text-decoration-none mx-1" href="https://www.coursera.org/"><p class="brandname text-white mt-2">코세라</p></a>
									<a style="color: rgb(15, 100, 179);" class="fas fa-user-graduate fa-4x text-decoration-none mx-1" href="https://edu.ssafy.com/"><p class="brandname text-white mt-2">에듀싸피</p></a>
									<a style="color: rgb(15, 100, 179);" class="fas fa-user-tie fa-4x text-decoration-none mx-1" href="https://job.ssafy.com/"><p class="brandname text-white mt-2">잡싸피</p></a>
									<a style="color: rgb(15, 100, 179);" class="fab fa-git-square fa-4x text-decoration-none mx-1" href="https://project.ssafy.com/"><p class="brandname text-white mt-2">싸피깃</p></a>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<iframe src="https://trinket.io/embed/python3/665714edd3" width="80%" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
						</div>
						<div class="carousel-item">
							<h1 style="width:45vw" class="mx-auto bg-primary text-left p-2">IT NEWS <small class="float-right" style="font-size:0.2rem;">powered by ZDNet</small></h1>
							<div id="rss">
							</div>
						</div>
					</div>
				</div>
			</div>


			<div id="commitView">
					<i @click="commitTrackerVisible" class="fas fa-code-branch fa-2x m-3"></i>
					<div class="container" id="commitTrackerToggle">
							<p>최신 커밋</p>
							<input class="bg-transparent text-white" v-model="gitUserName" type="text" name="un" id="">
							<br>
							<input class="bg-transparent text-white mt-2" v-model="repoName" type="text" name="rn" id="">
							<br>
							<template class="my-auto" v-for="branch in branches">
									<input type="radio"
										:id="branch"
										:value="branch"
										name="branch"
										v-model="currentBranch"
										class="my-auto">
									<label class="mr-2" :for="branch">{{ branch }}</label>
								</template>
							<div class="row pl-3">
								<div class="dropdown">
										<button @click="fetchData()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{{ gitUserName }}/{{ repoName }}@{{ currentBranch }}
										</button>
											<div id="commits" class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton"></div>
								</div>
						</div>
				</div>
				</div>
				</div>
		<script src="logic.js"></script>
</body>

</html>
