body {
    color: white;
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 200;
    background: transparent;
    max-height: 100vh;

}
html {
    background: url("./winter.jpg");
    box-shadow: inset 0px 0px 400px 200px rgba(0,0,0,0.75);
    min-height: 100vh;
}