body {
    color: white;
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 200;
    background: transparent;
    max-height: 95vh;

}
html {
    background: url("./winter.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    box-shadow: inset 0px 0px 40vw 5vw rgba(0,0,0,0.55);
    min-height:  100vh;
}